<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zubeir's blog | <%=title%></title>
</head>
<body>
  <h1>Home</h1>
  <nav>
    <div class="site-title">
      <a href= "/"><h1>Blog Ninja</h1></a>
    </div>
    <ul> 
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>
  
  <div class="about content">
    <h2>About Us</h2>
    <p>Something Something Something Dark Side</p>
    <p>Something Something Something Complete</p>
  </div>

</body>
</html>
 